<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PÁGINA INICIAL</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> </link>
        
    </head>
    <body>
        <div class="container">
            <div class="row corFundoCinzaEscuro"> <!-- NAVBAR NO TOPO DA PÁGINA -->
                <ul class="nav nav-underline justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{index}"><p class="textoBrancoNav">Página Principal</p></a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{processo}"><p class="textoBrancoNav">Cadastrar Processo</p></a>
                    </li>                       
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{pessoa}"><p class="textoBrancoNav">Pessoas</p></a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{advogado}"><p class="textoBrancoNav">Advogados</p></a>
                    </li>
                </ul>
            </div><!-- FIM NAVBAR NO TOPO DA PÁGINA -->
            
            <div class="row">
                <div class="col-12 text-center">
                    <h2>PLATAFORMA JURÍDICA</h2>
                </div>
            </div>
            
            <div class="row"><!-- NAVBAR ESQUERDA DA PÁGINA -->
                <div class="col-sm-2 corFundoCinzaEscuro">
                    <ul class="nav flex-column text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{processo}"><p class="textoBrancoNav">Página Principal</p></a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{pessoa}"><p class="textoBrancoNav">Pessoas</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{advogado}"><p class="textoBrancoNav">Advogados</p></a>
                        </li>
                    </ul>
                </div> <!-- FIM DIV COL-SM-2 NAVBAR ESQUERDA -->
               
                <div class="col-md-9 ">
                    <div class="row">
                        <form id="campoBuscaProcesso">
                            <label for="buscaProcesso" class= "form-label">Nº Processo:</label>                       
                            <input type="text" id="buscaProcesso" name="buscaProcesso" class="form-control"/>
                            <br/>
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </form>
                    </div> <!--FIM DIV ROW BUSCA PROCESSO --><br/>
                    
                    <div class="row corFundoAzulClaro" id="divDetalharProcesso"> <!-- ROW PARA DETALHES DE PROCESSO -->
                        <h5>Dados do Processo</h5>
                        <br/>
                        <p>Nº do Processo: <span id="processoDetalhes"></span></p>
                        <p>Autor: <span id="nomeAutorDetalhes"></span></p>
                        <p>Advogado do Autor: <span id="advAutorDetalhes"></span></p>
                        <p>Réu: <span id="nomeReuDetalhes"></span></p>
                        <p>Advogado do Réu: <span id="advReuDetalhes"></span></p>
                        <p>Vara de Tramitação: <span id="varaTramitacaoDetalhes"></span></p>
                        <p>UF: <span id="ufTramitacaoDetalhes"></span></p>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" id="botaoEditarAutor" class="btn btn-outline-primary">Editar Autor ou Advogado</button>
                            <button type="button" id="botaoEditarReu" class="btn btn-outline-warning">Editar Réu ou Advogado</button>
                            <button type="button" id="botaoEditarProcesso" class="btn btn-outline-info">Editar Dados do Processo</button>
                        </div>
                        <br/>                             
                    </div> <!-- FIM DIV ROW DETALHES DO PROCESSO --><br/>
                    
                    <!-- DIV ROW EDITAR -->
                    <div class="row" id="divEditarProcessoTodos">
                        <br/>
                        <div id="divEditarAutor"> <!-- SESSÃO AUTOR -->
                            <h6>Editar Autor</h6>
                            <br/>
                            <p>Autor Atual: <span id="spanAutorAtual"></span></p>
                            <form id="formularioBuscarAutorEditar">
                                <label for="cpfAutorBuscarEditar" class="form-label">Informe o CPF do Autor:</label>
                                <input type="text" maxlength="14" id="cpfAutorBuscarEditar" name="cpfAutorBuscarEditar" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <br/>
                                <p>Novo Autor: <span id="spanNovoAutor"></span></p>
                            </form>
                            <br/>
                            
                            <div class="corFundoAzulClaro">
                            <br/>
                            <p>Advogado Autor Atual: <span id="spanAdvAutorAtual"></span></p>
                            <form id="formularioBuscarAdvAutorEditar">
                                <label for="cpfAdvAutorBuscarEditar" class="form-label">Informe o CPF do Advogado:</label>
                                <input type="text" maxlength="14" id="cpfAdvAutorBuscarEditar" name="cpfAdvAutorBuscarEditar" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <br/>
                                <p>Novo Advogado Autor: <span id="spanNovoAdvAutor"></span></p>
                            </form>
                            </div>
                            <br/>
                            <br/>
                            <button type="button" id="botaoAlterarAutor" class="btn btn-outline-success">Editar</button>
                            <button type="button" id="botaoCancelarEdicaoAutor" class="btn btn-outline-danger">Cancelar</button>
                        </div><!-- FIM DIV AUTOR --><br/>
                        
                        <div id="divEditarReu"><!-- SESSÃO RÉU -->
                            <h6>Editar Réu</h6>
                            <br/>
                            <p>Réu Atual: <span id="spanReuAtual"></span></p>
                            <form id="formularioBuscarReuEditar">
                                <label for="cpfReuBuscarEditar" class="form-label">Informe o CPF do Réu:</label>
                                <input type="text" maxlength="14" id="cpfReuBuscarEditar" name="cpfReuBuscarEditar" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <br/>
                                <p>Novo Réu:  <span id="spanNovoReu"></span></p>
                            </form>
                            <br/>
                            <div class="corFundoAzulClaro">
                            <br/>
                            <p>Advogado Réu Atual: <span id="spanAdvReuAtual"></span></p>
                            <form id="formularioBuscarAdvReuEditar">
                                <label for="cpfAdvReuBuscarEditar" class="form-label">Informe o CPF do Advogado:</label>
                                <input type="text" maxlength="14" id="cpfAdvReuBuscarEditar" name="cpfAdvReuBuscarEditar" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <br/>
                                <p>Novo Advogado Réu: <span id="spanNovoAdvReu"></span></p>
                            </form>
                            <br/>
                            <br/>
                            <button type="button" id="botaoAlterarReu" class="btn btn-outline-success">Editar</button>
                            <button type="button" id="botaoCancelarEdicaoReu" class="btn btn-outline-danger">Cancelar</button>
                            <br/>
                            </div>
                        </div><!-- FIM DIV RÉU --><br/>
                        
                        <div id="divEditarDadosProcesso"> <!-- SESSÃO PROCESSO -->
                            <h6>Editar Dados do Processo</h6>
                            <form id="formularioProcessoEditar">
                                <label for="nrProcessoEditar" class="form-label">Nº do Processo:</label>
                                <input type="number" id="nrProcessoEditar" name="nrProcessoEditar" class="form-control"/>
                                
                                <label for="varaTramitacaoEditar" class="form-label">Vara de Tramitação:</label>
                                <input type="text" id="varaTramitacaoEditar" name="varaTramitacaoEditar" class="form-control"/>
                                
                                <label for="UfVaraTramitacaoEditar" class="form-label">UF de Tramitação:</label>
                                <input type="text" id="UfVaraTramitacaoEditar" name="UfVaraTramitacaoEditar" class="form-control"/>
                                <br/>
                                <button type="submit" class="btn btn-success">Editar Dados</button>
                            </form>
                            <br/>
                            <button type="button" id="botaoCancelarEdicaoDados" class="btn btn-outline-danger">Cancelar</button>
                        </div><!-- FIM DIV DADOS PROCESSO -->
                    </div><!-- FIM DIV ROW EDITAR --><br/>                   
                </div> <!-- FIM DIV COL-9 COM FORM BUSCA, DETALHES PROCESSO E EDITAR PROCESSO -->                
            </div><!-- FIM DIV ROW COM NAVBAR ESQUERDA, FORM BUSCA, DETALHES PROCESSO E EDITAR PROCESSO -->           
        </div> <!-- FIM DIV CONTAINER -->
        
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
         <script th:src="@{/js/scriptsIndexProcesso.js}"></script>
         
    </body>
</html>
